.home-container {
	padding: 4% 4%;
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.home-container .header-with-decoration {
	margin-top: 18px;
}

.home-container .info-group-heading {
	text-transform: none;
}

.home-container .location-details {
	font-family: 'Muli';
	font-weight: 100;
	font-size: 16pt;
	text-align: center;
	margin: 10px 0;
	color: #333;
}

.home-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  max-width: 750px;
}

.venue-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.venue-logo {
  margin: 24px 0;
}

/* Mobile */
@media only screen and (max-width : 417px) {
	.home-container {
		padding-left: 0;
		padding-right: 0;
	}

	.home-container .home-image {
		width: 100% !important;
	}

	.content-container.home {
		top: 30%;
	}

}
