.photos #top-image-container {
  max-height: 30%;
}

.photos-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  padding-bottom: 20px;
}

.photos-container .photo {
  height: 250px;
  width: auto;
  margin: 2%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.photos-container .photo.verticle {
  height: 400px;
  margin: 2%;
}

@media only screen and (max-width : 320px) {
  .photos-container .photo {
    height: 210px;
  }
}

@media only screen and (max-width : 417px) and (min-width: 321px) {
  .photos-container .photo {
    height: 240px;
  }
}

@media only screen and (max-width : 1000px) and (min-width : 418px) {
  .photos-container .photo {
    height: 220px;
  }
}
